@keyframes popup {
    0% {
        transform: translate(-50%, 140%);
    }
    100% {
        transform: translate(-50%, -140%);
    }
}
@keyframes popdown {
    0% {
        transform: translate(-50%, -140%);
    }
    100% {
        transform: translate(-50%, 140%);
        opacity: 0;
        display: none;
    }
}
