:root {
    --accent: #0184c7;
    --sidebar-background: #002F47;
    --messages-background: #001C2A;
    --foreground: #E6FAFC;
    --active: #004B7D;
    --inactive: #728A97;
    --hover: #485962;
    --tertiary: #677F8C;
    --server-background: #476D80;
    --mention: #014d3f;
    --badge-default: #0171AA;
}