:root {
    --accent: #0184c7;
    --sidebar-background: #002F47;
    --messages-background: #001C2A;
    --foreground: #E6FAFC;
    --active: #0075C4;
    --inactive: #60435f;
    --teritary: #002B48;
    --server-background: #406F87;
}