@import url("./fonts/fonts.css");
@import url("./colors.css");

#root, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 3.9rem 42rem 4.5rem;
  grid-template-columns: 15.55rem auto; 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-flow: row dense;
  width: 100%;
  height: 100%;
}
.serverbar {
  grid-area: 1/1/1/3;
  width: auto;
  height: auto;
  background-color: var(--server-background);
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.serverbar > .server {
  display: flex;
  background-color: var(--tertiary);
  padding: 10px;
  margin-left: 0px;
  margin-right: 5px;
  margin:5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  width: 32px;
  height: 32px;
}

.server:hover {
  background-color: var(--hover);
}

.serverbar > .server > .icon {
  border-radius: 2px;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

.solenoid-server-banner-container .servername  {
  font-family: "Red Hat Display Bold";
  font-size: 20px;
  color: #fff;
  z-index: 6;
  position: relative;
  display: flex;
  gap: 10px;
  top: 70%;
  margin-left: 15px;
}

.solenoid-server-banner-container {
  height: 10rem;
  margin-bottom: 10px;
}

.solenoid-banner {
  position: relative;
  display: block;
  top:-15%;
  height: 95%;
  width: 100%;
}

.grad {
  background: linear-gradient(0deg,var(--sidebar-background),transparent);
  position: absolute;
  height: 11rem;
  width: 15.65rem;
  top: 90px;
  z-index: 5;
}

.channelcontainer {
  grid-area: 2/2/4/1;
  height: 100%;
  background-color: var(--sidebar-background);
  font-family: "Red Hat Display Regular";
}

div[class="solenoid-channelList"] {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 77%;
}

div[class~="solenoid-channel"] {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  width: auto;
  height: 48px;
  background-color: inherit;
  padding-left: 10px;
  color: var(--foreground);
}

div[class="solenoid-channel active"] {
  background-color: var(--active);
  font-family: "Red Hat Display Bold";
}

.hashicon:not(img) {
  font-size: 24px;
  font-family: "Poppins Bold";
  color: #1D6394;
}

div[class="solenoid-channel active"] .hashicon:not(img) {
  color: #CDE4F5;
}

.userbar {
  grid-area: 4/1;
  height: 10vmin;
  background-color: var(--tertiary);
  font-family: "Red Hat Display Regular";
  display: flex;
  align-items: center;
  gap: 5px;
}

.settings img {
  border-radius: 5px;
}

.settings span {
  float: right;
}

.textbox {
  grid-area: 4/2;
  background-color: var(--tertiary);
  height: 10vmin;
  display: flex;
  flex-direction: column;
}

.textbox div.typing-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textbox textarea {
  width: 100%;
}

.textbox .tb {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.textbox {
  color: #fff;
  font-family: "Inter Regular";
}

.messages {
  grid-area: 2/2/4/2;
  background-color: var(--messages-background);
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Red Hat Display Regular';
  word-wrap: break-word;
}

.solenoid-message {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  color: #fff;
}

.solenoid-message .solenoid-message-author, .solenoid-message .solenoid-md {
  margin:5px
}

.solenoid-message.mentioned {
  background-color: var(--mention);
}

.solenoid-message .attachments {
  display: block;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.solenoid-md {
  font-family: "Inter Regular";
}

span.noicon {
  font-family: "Red Hat Display Bold";
}

.solenoid-message .solenoid-message-image, .solenoid-message .solenoid-message-video {
  width: 30%; 
  height: auto;
}

.solenoid-message-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.badges {
  font-family: "Red Hat Display Bold";
  display: flex;
  align-items: center;
}

.uploadimg {
  display: none;
}

.attachmentbar {
  position: absolute;
  display: flex;
  width: 10rem;
  height: 25rem;
}

.badges span {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.messages div[class^="button-container"] {
  transition: all 300ms;
  display: flex;
  gap: 10px;
  margin-left: 5px;
  opacity: 0;
  background-color: lightsalmon;
  padding: 2px 5px;
}

.solenoid-message:hover div[class^="button-container"] {
  opacity: 1;
}

.solenoid-pfp {
  border-radius: 5px;
}