@import url("./fonts/fonts.css");
@import url("./colors.css");
@import url("./animations.css");

#root,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: auto;
}

.grid {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.serverbar {
  width: auto;
  height: auto;
  background-color: var(--server-background);
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.serverbar > .server {
  display: flex;
  background-color: var(--tertiary);
  padding: 10px;
  margin-left: 0px;
  margin-right: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  width: 32px;
  height: 32px;
}

.server:hover {
  background-color: var(--hover);
}

.serverbar > .server > .icon {
  border-radius: 2px;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}
.servername {
  font-family: "Red Hat Display Bold";
  font-size: 20px;
  color: #fff;
  display: flex;
  gap: 10px;
  position: relative;
  top: 7rem;
  margin-left: 15px;
}

.solenoid-server-banner-container {
  height: 10rem;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.solenoid-banner {
  position: relative;
  display: block;
  top: -15%;
  height: 95%;
  width: 100%;
}

.grad {
  background: linear-gradient(
    to top,
    var(--sidebar-background) 0%,
    transparent 130%
  );
  height: 10rem;
  width: 100%;
  max-width: 17.9rem;
  top: 0;
  z-index: 5;
  display: block;
}

.channelcontainer {
  font-family: "Red Hat Display Regular";
  width: 30%;
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
}

div[class="solenoid-channelList"] {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

div[class~="solenoid-channel"] {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  width: auto;
  height: 48px;
  background-color: inherit;
  padding-left: 10px;
  color: var(--foreground);
}

div[class="solenoid-channel active"] {
  background-color: var(--active);
  font-family: "Red Hat Display Bold";
}

.hashicon:not(img) {
  font-size: 24px;
  font-family: "Poppins Bold";
  color: #1d6394;
}

div[class="solenoid-channel active"] .hashicon:not(img) {
  color: #cde4f5;
}

.userbar {
  height: 100%;
  background-color: var(--tertiary);
  font-family: "Red Hat Display Regular";
  display: flex;
  align-items: center;
  gap: 5px;
  float: left;
  bottom: 0;
}

.userinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings img {
  border-radius: 5px;
}

.settings span {
  float: right;
}

.textbox {
  background-color: var(--tertiary);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textbox div.typing-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.textbox textarea {
  width: 100%;
}

.textbox .tb {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.textbox {
  color: #fff;
  font-family: "Inter Regular";
}

.row2 {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.row3 {
  display: flex;
  height: 4.6rem;
  width: 100%;
  flex-direction: row;
  position: relative;
  bottom: 0;
  left: 0;
}

.messages {
  position: relative;
  background-color: var(--messages-background);
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Red Hat Display Regular";
  word-wrap: break-word;
  width: 100%;
  height: 86vh;
}

.solenoid-message {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  color: #fff;
}

.solenoid-message .solenoid-message-author,
.solenoid-message .solenoid-md {
  margin: 5px;
}

.solenoid-message.mentioned {
  background-color: var(--mention);
}

.solenoid-message .attachments {
  display: block;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.solenoid-md {
  font-family: "Inter Regular";
}

span.noicon {
  font-family: "Red Hat Display Bold";
}

.solenoid-message .solenoid-message-image,
.solenoid-message .solenoid-message-video {
  width: 30%;
  height: auto;
}

.solenoid-message-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.badges {
  font-family: "Red Hat Display Bold";
  display: flex;
  align-items: center;
}

.uploadimg {
  display: none;
}

.attachmentbar {
  position: absolute;
  display: flex;
  width: 10rem;
  height: 25rem;
}

.badges span {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.messages div[class^="button-container"] {
  transition: all 300ms;
  display: flex;
  gap: 10px;
  margin-left: 5px;
  opacity: 0;
  background-color: lightsalmon;
  padding: 2px 5px;
}

.solenoid-message:hover div[class^="button-container"] {
  opacity: 1;
}

.solenoid-pfp {
  border-radius: 5px;
}

#show {
  display: inherit;
  animation-name: popup;
  animation-duration: 350ms;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.4, 0.18, 0, 1.01);
}

#hide {
  animation: popdown 350ms forwards cubic-bezier(0.4, 0.18, 0, 1.01);
}

.overlay {
  display: flex;
  flex: auto;
  /* border: 1px solid red; */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -140%);
  width: 40rem;
  height: 25rem;
  background-color: var(--server-background);
  border-radius: 10px;
}

.overlay .settings {
  height: auto;
  width: 100%;
}

.settings > .titlebar {
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--titlebar-contrast);
  margin-bottom: 5px;
}

.settings > .titlebar > .close {
  margin-left: auto;
  margin-right: 25px;
}

.settings > .titlebar > .title {
  margin-left: 25px;
}

.settings > .content {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 85%;
  /* border: 1px solid blue; */
}

.settings > .content > .sidebar {
  width: 10rem;
  height: 100%;
  /* border: 1px solid blue; */
}

.settings > .content > .setting {
  width: 100%;
}

.sidebar > .item {
  padding: 5px;
  font-family: "Inter Regular";
}

.sidebar > #silogout {
  background-color: var(--danger-bkg);
  color: var(--danger);
  font-family: "Inter Bold";
  transform: translateY(645%);
  border-bottom-left-radius: 10px;
}

.settings > .content > * {
  /* This is for debugging purposes */
  /* border: 1px solid #fff; */
}

@media screen and (max-width: 800px) {
  .row2 {
    flex-direction: column;
  }
  .channelcontainer {
    height: 25vh;
    width: 100%;
  }
  .messages {
    height: 61vh;
  }
  #banner {
    height: 7rem;
  }

  span.servername {
    top: 50%;
  }
}